# Exercício no 1
## “Monitor com Threads”

O objetivo deste exercício é criar um código multithread em Python capaz de monitorar
alterações em sites de notícias. Suponha os seguintes 4 sites brasileiros de notícias:

- https://g1.globo.com
- https://noticias.uol.com.br
- https://www.r7.com
- https://www.cnnbrasil.com.br
 
O código deverá inicializar 4 threads, um para cada site.
A função de monitoramento deverá receber a **URL**, **INTERVALO DE VERIFICAÇÕES** e a
**QUANTIDADE DE VERIFICAÇÕES**. Ou seja, estes três parâmetros devem ser enviados para a
função associada a cada thread.

> Ao término do processamento, cada thread deverá dizer se o site foi modificado ou não no
período monitorado.

In [1]:
import requests
import hashlib
import pandas as pd

from time import sleep, perf_counter
from datetime import datetime

# SiteMonitor 
import sys; sys.path.append('..')
import site_monitoring as sm

In [2]:
# # Constants
# # MARK: - Parameters
# SITES = ['https://g1.globo.com/',
#          'https://noticias.uol.com.br/',
#          'https://www.r7.com/',
#          'https://www.cnnbrasil.com.br/']

# MONITORING_INTERVAL = 2
# MONITORING_COUNT_TARGET = 5

# # MARK: - Utils
# HEADERS = {'User-Agent': 'Mozilla/5.0'}

# class HashComparer:
#     def __init__(self):
#         self.previous = None
#         self.latest = None

#     def update(self, new_hash):
#         self.previous = self.latest
#         self.latest = new_hash   

#     def did_change(self):
#         if self.previous is not None and self.latest is not None:
#             return self.previous != self.latest
#         return False

# class SiteMonitor:
#     def __init__(self):
#         self._data = pd.DataFrame(columns = ['timestamp', 'attempt', 'url', 'changed', 'latest', 'previous'])
    
#     def monitor(self, site: str):
        
#         hash_comparer = HashComparer()

#         for count in range(MONITORING_COUNT_TARGET): # Count from 0 to TARGET

#             response = requests.get(
#                 site,
#                 headers = HEADERS
#             )

#             utf8_content = repr(response.text).encode('utf-8')
#             response_hash = hashlib.sha224(utf8_content).hexdigest()

#             hash_comparer.update(response_hash)

#             self._data = pd.concat([self._data, pd.DataFrame({
#                 'timestamp': [datetime.now()],
#                 'attempt': [count],
#                 'url': [site],
#                 'changed': [hash_comparer.did_change()],
#                 'latest': [hash_comparer.latest],
#                 'previous': [hash_comparer.previous]
#             })], ignore_index=True)

#             print(f'[{datetime.now()}] Monitoring attempt: ({count}) Url: {site} Did change?: {hash_comparer.did_change()} | Hashes latest: {hash_comparer.latest} VS. previous: {hash_comparer.previous}')

#             sleep(MONITORING_INTERVAL)

## 1 Sequential

In [3]:
sites_data = []

start_time = perf_counter()

for site in sm.SITES: # For each URL
    site_monitor = sm.SiteMonitor()
    data = site_monitor.monitor_and_get_data(site)

    sites_data.append(data)

end_time = perf_counter()

sequential_elapsed_time = end_time - start_time

print(f'As tarefas levaram {sequential_elapsed_time: 0.2f} segundo(s) para executar.')

/workspaces/parallel-and-distribute-computing/unit2/exercises/1-site-monitoring/../site_monitoring.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self._data = pd.concat([self._data, pd.DataFrame({

[2025-09-09 22:58:07.309444] Monitoring attempt: (0) Url: https://g1.globo.com/ Did change?: False | Hashes latest: fd4978231f5bbe7eb2c86af527c809167a31d4389ed70dd1d9f76492 VS. previous: None
[2025-09-09 22:58:10.143505] Monitoring attempt: (1) Url: https://g1.globo.com/ Did change?: True | Hashes latest: 2eb3c879c40482e852f21c2e9394e2095da7450f57648fc6783126ae VS. previous: fd4978231f5bbe7eb2c86af527c809167a31d4389ed70dd1d9f76492
[2025-09-09 22:58:12.982048] Monitoring attempt: (2) Url: https://g1.globo.com/ Did change?: True | Hashes latest: 078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab604ccdd923 VS. previous: 2eb3c879c40482e852f21c2e9394e2095da7450f57648fc6783126ae
[2025-09-09 22:58:15.810546] Monitoring attempt: (3) Url: https://g1.globo.com/ Did change?: False | Hashes latest: 078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab604ccdd923 VS. previous: 078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab604ccdd923
[2025-09-09 22:58:18.645846] Monitoring attempt: (4) Url: https://g1.globo.com/ Did change?: False | Hashes latest: 078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab604ccdd923 VS. previous: 078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab604ccdd923

/workspaces/parallel-and-distribute-computing/unit2/exercises/1-site-monitoring/../site_monitoring.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self._data = pd.concat([self._data, pd.DataFrame({

[2025-09-09 22:58:20.846664] Monitoring attempt: (0) Url: https://noticias.uol.com.br/ Did change?: False | Hashes latest: b559fd4e32681a1d8608bbc7247268c1bc75e68f2f063b64b93f3d4b VS. previous: None
[2025-09-09 22:58:22.881635] Monitoring attempt: (1) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: 1235ebdfd5bd4e9ed6dd85749b219d6ff80bf19cf0081ccf3b35eac5 VS. previous: b559fd4e32681a1d8608bbc7247268c1bc75e68f2f063b64b93f3d4b
[2025-09-09 22:58:24.914399] Monitoring attempt: (2) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: 4c2bfdb3b386b802c5944ff3ffb601fba5e466ceeb221d29cb6c4653 VS. previous: 1235ebdfd5bd4e9ed6dd85749b219d6ff80bf19cf0081ccf3b35eac5
[2025-09-09 22:58:26.958879] Monitoring attempt: (3) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: 592e4c15dc32d4da5385dbdf9c1182a6af02fbf4213d608b05ffb5be VS. previous: 4c2bfdb3b386b802c5944ff3ffb601fba5e466ceeb221d29cb6c4653
[2025-09-09 22:58:28.997965] Monitoring attempt: (4) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: 7c0dba51d44f4160c59a839ba976ef8b8dddca73c1c6d5f78384fce4 VS. previous: 592e4c15dc32d4da5385dbdf9c1182a6af02fbf4213d608b05ffb5be

/workspaces/parallel-and-distribute-computing/unit2/exercises/1-site-monitoring/../site_monitoring.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self._data = pd.concat([self._data, pd.DataFrame({

[2025-09-09 22:58:31.278760] Monitoring attempt: (0) Url: https://www.r7.com/ Did change?: False | Hashes latest: db504c83e26594a84de262cd507f811389e857e198f8a17af7ac5dd1 VS. previous: None
[2025-09-09 22:58:33.401018] Monitoring attempt: (1) Url: https://www.r7.com/ Did change?: True | Hashes latest: 73f14b670be69a9dfff034bb7b861c1bbb44ef271e413ef4fd7ba133 VS. previous: db504c83e26594a84de262cd507f811389e857e198f8a17af7ac5dd1
[2025-09-09 22:58:35.542399] Monitoring attempt: (2) Url: https://www.r7.com/ Did change?: True | Hashes latest: c612191d96a145ff570897d6cd96e621872fab7a0c550e819e8a5cdb VS. previous: 73f14b670be69a9dfff034bb7b861c1bbb44ef271e413ef4fd7ba133
[2025-09-09 22:58:37.649703] Monitoring attempt: (3) Url: https://www.r7.com/ Did change?: True | Hashes latest: e009a1c9828ff721e5806ea26e3aea862c6b7782bec78f5f6e5931ad VS. previous: c612191d96a145ff570897d6cd96e621872fab7a0c550e819e8a5cdb
[2025-09-09 22:58:39.760606] Monitoring attempt: (4) Url: https://www.r7.com/ Did change?: True | Hashes latest: b1fed82d0b20f49b20b3c7e9dd8cf111ae43f2148d99e846299c811e VS. previous: e009a1c9828ff721e5806ea26e3aea862c6b7782bec78f5f6e5931ad

/workspaces/parallel-and-distribute-computing/unit2/exercises/1-site-monitoring/../site_monitoring.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self._data = pd.concat([self._data, pd.DataFrame({

[2025-09-09 22:58:42.060407] Monitoring attempt: (0) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: ff306106a71629c9b1433b38028a7c3c2e3179a049bf92f884f4ed09 VS. previous: None
[2025-09-09 22:58:44.102586] Monitoring attempt: (1) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: ff306106a71629c9b1433b38028a7c3c2e3179a049bf92f884f4ed09 VS. previous: ff306106a71629c9b1433b38028a7c3c2e3179a049bf92f884f4ed09
[2025-09-09 22:58:46.395627] Monitoring attempt: (2) Url: https://www.cnnbrasil.com.br/ Did change?: True | Hashes latest: 075a8552f452b411f5704bc4eb74a2406dd8c01e03d5482cb8627168 VS. previous: ff306106a71629c9b1433b38028a7c3c2e3179a049bf92f884f4ed09
[2025-09-09 22:58:48.439397] Monitoring attempt: (3) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: 075a8552f452b411f5704bc4eb74a2406dd8c01e03d5482cb8627168 VS. previous: 075a8552f452b411f5704bc4eb74a2406dd8c01e03d5482cb8627168
[2025-09-09 22:58:50.625493] Monitoring attempt: (4) Url: https://www.cnnbrasil.com.br/ Did change?: True | Hashes latest: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae VS. previous: 075a8552f452b411f5704bc4eb74a2406dd8c01e03d5482cb8627168
As tarefas levaram  46.26 segundo(s) para executar.

In [4]:
for data in sites_data:
    display(data)

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:07.307586,0,https://g1.globo.com/,False,fd4978231f5bbe7eb2c86af527c809167a31d4389ed70d...,None
1,2025-09-09 22:58:10.142299,1,https://g1.globo.com/,True,2eb3c879c40482e852f21c2e9394e2095da7450f57648f...,fd4978231f5bbe7eb2c86af527c809167a31d4389ed70d...
2,2025-09-09 22:58:12.980954,2,https://g1.globo.com/,True,078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab...,2eb3c879c40482e852f21c2e9394e2095da7450f57648f...
3,2025-09-09 22:58:15.809409,3,https://g1.globo.com/,False,078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab...,078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab...
4,2025-09-09 22:58:18.644783,4,https://g1.globo.com/,False,078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab...,078ebab957456606df0f16a8e9ff181937dfbcdea9f5ab...

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:20.845203,0,https://noticias.uol.com.br/,False,b559fd4e32681a1d8608bbc7247268c1bc75e68f2f063b...,None
1,2025-09-09 22:58:22.880465,1,https://noticias.uol.com.br/,True,1235ebdfd5bd4e9ed6dd85749b219d6ff80bf19cf0081c...,b559fd4e32681a1d8608bbc7247268c1bc75e68f2f063b...
2,2025-09-09 22:58:24.913198,2,https://noticias.uol.com.br/,True,4c2bfdb3b386b802c5944ff3ffb601fba5e466ceeb221d...,1235ebdfd5bd4e9ed6dd85749b219d6ff80bf19cf0081c...
3,2025-09-09 22:58:26.957206,3,https://noticias.uol.com.br/,True,592e4c15dc32d4da5385dbdf9c1182a6af02fbf4213d60...,4c2bfdb3b386b802c5944ff3ffb601fba5e466ceeb221d...
4,2025-09-09 22:58:28.996778,4,https://noticias.uol.com.br/,True,7c0dba51d44f4160c59a839ba976ef8b8dddca73c1c6d5...,592e4c15dc32d4da5385dbdf9c1182a6af02fbf4213d60...

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:31.277348,0,https://www.r7.com/,False,db504c83e26594a84de262cd507f811389e857e198f8a1...,None
1,2025-09-09 22:58:33.399904,1,https://www.r7.com/,True,73f14b670be69a9dfff034bb7b861c1bbb44ef271e413e...,db504c83e26594a84de262cd507f811389e857e198f8a1...
2,2025-09-09 22:58:35.541345,2,https://www.r7.com/,True,c612191d96a145ff570897d6cd96e621872fab7a0c550e...,73f14b670be69a9dfff034bb7b861c1bbb44ef271e413e...
3,2025-09-09 22:58:37.648635,3,https://www.r7.com/,True,e009a1c9828ff721e5806ea26e3aea862c6b7782bec78f...,c612191d96a145ff570897d6cd96e621872fab7a0c550e...
4,2025-09-09 22:58:39.759494,4,https://www.r7.com/,True,b1fed82d0b20f49b20b3c7e9dd8cf111ae43f2148d99e8...,e009a1c9828ff721e5806ea26e3aea862c6b7782bec78f...

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:42.059047,0,https://www.cnnbrasil.com.br/,False,ff306106a71629c9b1433b38028a7c3c2e3179a049bf92...,None
1,2025-09-09 22:58:44.101549,1,https://www.cnnbrasil.com.br/,False,ff306106a71629c9b1433b38028a7c3c2e3179a049bf92...,ff306106a71629c9b1433b38028a7c3c2e3179a049bf92...
2,2025-09-09 22:58:46.394572,2,https://www.cnnbrasil.com.br/,True,075a8552f452b411f5704bc4eb74a2406dd8c01e03d548...,ff306106a71629c9b1433b38028a7c3c2e3179a049bf92...
3,2025-09-09 22:58:48.437947,3,https://www.cnnbrasil.com.br/,False,075a8552f452b411f5704bc4eb74a2406dd8c01e03d548...,075a8552f452b411f5704bc4eb74a2406dd8c01e03d548...
4,2025-09-09 22:58:50.624465,4,https://www.cnnbrasil.com.br/,True,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...,075a8552f452b411f5704bc4eb74a2406dd8c01e03d548...

## 2 Parallel

In [5]:
from threading import Thread

In [6]:
# Task
def task(site: str, sites_data: list):
    site_monitor = sm.SiteMonitor()
    data = site_monitor.monitor_and_get_data(site)

    sites_data.append(data)

In [7]:
sites_data = []

start_time = perf_counter()

# 1 threads for each site
threads = []
for site in sm.SITES:
    threads.append(
        Thread(
            target = task,
            args = (site, sites_data)
        )
    )

# Inicializa as 4 threads
for thread in threads:
    thread.start()

# Aguarda até que as 4 threads sejam completadas
for thread in threads:
    thread.join()

end_time = perf_counter()

parallel_elapsed_time = end_time - start_time

print(f'As tarefas levaram {parallel_elapsed_time: 0.2f} segundo(s) para executar.')

[2025-09-09 22:58:52.752630] Monitoring attempt: (0) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae VS. previous: None

/workspaces/parallel-and-distribute-computing/unit2/exercises/1-site-monitoring/../site_monitoring.py:52: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self._data = pd.concat([self._data, pd.DataFrame({

[2025-09-09 22:58:52.880019] Monitoring attempt: (0) Url: https://noticias.uol.com.br/ Did change?: False | Hashes latest: 3ed4b6c14c4ba3b0b6d650d6d82ed54d8eddc9e61d63a319f8610577 VS. previous: None
[2025-09-09 22:58:52.897019] Monitoring attempt: (0) Url: https://www.r7.com/ Did change?: False | Hashes latest: c7a8352e2042e6cadadaa774a6faa1efd8d30ced75c0bce4db13a409 VS. previous: None
[2025-09-09 22:58:53.535120] Monitoring attempt: (0) Url: https://g1.globo.com/ Did change?: False | Hashes latest: 3ab9e2101bbb2baad45e3988b1082ee15647417e08839265f3b1d10d VS. previous: None
[2025-09-09 22:58:54.799706] Monitoring attempt: (1) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae VS. previous: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae
[2025-09-09 22:58:54.936658] Monitoring attempt: (1) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: e0fbfe40c087c2b711601bb368473476a909495fcc8b3581824c4ab9 VS. previous: 3ed4b6c14c4ba3b0b6d650d6d82ed54d8eddc9e61d63a319f8610577
[2025-09-09 22:58:55.406056] Monitoring attempt: (1) Url: https://www.r7.com/ Did change?: True | Hashes latest: 2cd9a2a588a0a705730f9c8002a7a6bd7f20581db7d7eceee41462a8 VS. previous: c7a8352e2042e6cadadaa774a6faa1efd8d30ced75c0bce4db13a409
[2025-09-09 22:58:56.361587] Monitoring attempt: (1) Url: https://g1.globo.com/ Did change?: False | Hashes latest: 3ab9e2101bbb2baad45e3988b1082ee15647417e08839265f3b1d10d VS. previous: 3ab9e2101bbb2baad45e3988b1082ee15647417e08839265f3b1d10d
[2025-09-09 22:58:56.840382] Monitoring attempt: (2) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae VS. previous: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae
[2025-09-09 22:58:56.974909] Monitoring attempt: (2) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: 51b78bf1cda70e0755153742d585de328615d9a9666e255a913e1bc6 VS. previous: e0fbfe40c087c2b711601bb368473476a909495fcc8b3581824c4ab9
[2025-09-09 22:58:57.611339] Monitoring attempt: (2) Url: https://www.r7.com/ Did change?: True | Hashes latest: 77c3991c386bf10e29ac6982f5018b1a4c15ae8237480f6dfb0b502a VS. previous: 2cd9a2a588a0a705730f9c8002a7a6bd7f20581db7d7eceee41462a8
[2025-09-09 22:58:59.015049] Monitoring attempt: (3) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: be3b4e3e60a3adadff95e40e626558e584eafe862595f282461fd0db VS. previous: 51b78bf1cda70e0755153742d585de328615d9a9666e255a913e1bc6
[2025-09-09 22:58:59.121997] Monitoring attempt: (3) Url: https://www.cnnbrasil.com.br/ Did change?: True | Hashes latest: 08fde1665ae824473ad667ce38230698612c8e2c7db9e01a9374042d VS. previous: 8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651bb2fcc12fae
[2025-09-09 22:58:59.187349] Monitoring attempt: (2) Url: https://g1.globo.com/ Did change?: True | Hashes latest: 707d22a531be7588fdf13cd7582eb6ebad94c3af8165a370f08d5fee VS. previous: 3ab9e2101bbb2baad45e3988b1082ee15647417e08839265f3b1d10d
[2025-09-09 22:58:59.827517] Monitoring attempt: (3) Url: https://www.r7.com/ Did change?: True | Hashes latest: 10f19d15955d0f90d610c4c840aa76f5998de795a6d1cb8e17a51b86 VS. previous: 77c3991c386bf10e29ac6982f5018b1a4c15ae8237480f6dfb0b502a
[2025-09-09 22:59:01.047650] Monitoring attempt: (4) Url: https://noticias.uol.com.br/ Did change?: True | Hashes latest: a09f50ef937267757a4d7441205ff96fa076b2da04098eff3fee39e2 VS. previous: be3b4e3e60a3adadff95e40e626558e584eafe862595f282461fd0db
[2025-09-09 22:59:01.162550] Monitoring attempt: (4) Url: https://www.cnnbrasil.com.br/ Did change?: False | Hashes latest: 08fde1665ae824473ad667ce38230698612c8e2c7db9e01a9374042d VS. previous: 08fde1665ae824473ad667ce38230698612c8e2c7db9e01a9374042d
[2025-09-09 22:59:02.013529] Monitoring attempt: (3) Url: https://g1.globo.com/ Did change?: True | Hashes latest: 7a36465d537acc6c0fc9cc048fc6f2444e36361f463b3cc856b27398 VS. previous: 707d22a531be7588fdf13cd7582eb6ebad94c3af8165a370f08d5fee
[2025-09-09 22:59:02.063339] Monitoring attempt: (4) Url: https://www.r7.com/ Did change?: True | Hashes latest: 7fb51fc875aade7b77970d9a9f790bc3c48d556b0ceed4253ea90f43 VS. previous: 10f19d15955d0f90d610c4c840aa76f5998de795a6d1cb8e17a51b86
[2025-09-09 22:59:04.846078] Monitoring attempt: (4) Url: https://g1.globo.com/ Did change?: True | Hashes latest: 42dba36b35c70e86462e9fefd295a7b227be065430926a78934f8f7d VS. previous: 7a36465d537acc6c0fc9cc048fc6f2444e36361f463b3cc856b27398
As tarefas levaram  14.15 segundo(s) para executar.

In [8]:
for data in sites_data:
    display(data)

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:52.878727,0,https://noticias.uol.com.br/,False,3ed4b6c14c4ba3b0b6d650d6d82ed54d8eddc9e61d63a3...,None
1,2025-09-09 22:58:54.931233,1,https://noticias.uol.com.br/,True,e0fbfe40c087c2b711601bb368473476a909495fcc8b35...,3ed4b6c14c4ba3b0b6d650d6d82ed54d8eddc9e61d63a3...
2,2025-09-09 22:58:56.973931,2,https://noticias.uol.com.br/,True,51b78bf1cda70e0755153742d585de328615d9a9666e25...,e0fbfe40c087c2b711601bb368473476a909495fcc8b35...
3,2025-09-09 22:58:59.013939,3,https://noticias.uol.com.br/,True,be3b4e3e60a3adadff95e40e626558e584eafe862595f2...,51b78bf1cda70e0755153742d585de328615d9a9666e25...
4,2025-09-09 22:59:01.046576,4,https://noticias.uol.com.br/,True,a09f50ef937267757a4d7441205ff96fa076b2da04098e...,be3b4e3e60a3adadff95e40e626558e584eafe862595f2...

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:52.750865,0,https://www.cnnbrasil.com.br/,False,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...,None
1,2025-09-09 22:58:54.798577,1,https://www.cnnbrasil.com.br/,False,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...
2,2025-09-09 22:58:56.839322,2,https://www.cnnbrasil.com.br/,False,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...
3,2025-09-09 22:58:59.120362,3,https://www.cnnbrasil.com.br/,True,08fde1665ae824473ad667ce38230698612c8e2c7db9e0...,8c2d6f485c77a4afed7d615726cbdfd77e56f68d8c651b...
4,2025-09-09 22:59:01.161628,4,https://www.cnnbrasil.com.br/,False,08fde1665ae824473ad667ce38230698612c8e2c7db9e0...,08fde1665ae824473ad667ce38230698612c8e2c7db9e0...

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:52.895979,0,https://www.r7.com/,False,c7a8352e2042e6cadadaa774a6faa1efd8d30ced75c0bc...,None
1,2025-09-09 22:58:55.404548,1,https://www.r7.com/,True,2cd9a2a588a0a705730f9c8002a7a6bd7f20581db7d7ec...,c7a8352e2042e6cadadaa774a6faa1efd8d30ced75c0bc...
2,2025-09-09 22:58:57.610218,2,https://www.r7.com/,True,77c3991c386bf10e29ac6982f5018b1a4c15ae8237480f...,2cd9a2a588a0a705730f9c8002a7a6bd7f20581db7d7ec...
3,2025-09-09 22:58:59.826020,3,https://www.r7.com/,True,10f19d15955d0f90d610c4c840aa76f5998de795a6d1cb...,77c3991c386bf10e29ac6982f5018b1a4c15ae8237480f...
4,2025-09-09 22:59:02.062224,4,https://www.r7.com/,True,7fb51fc875aade7b77970d9a9f790bc3c48d556b0ceed4...,10f19d15955d0f90d610c4c840aa76f5998de795a6d1cb...

,timestamp,attempt,url,changed,latest,previous
0,2025-09-09 22:58:53.533878,0,https://g1.globo.com/,False,3ab9e2101bbb2baad45e3988b1082ee15647417e088392...,None
1,2025-09-09 22:58:56.360519,1,https://g1.globo.com/,False,3ab9e2101bbb2baad45e3988b1082ee15647417e088392...,3ab9e2101bbb2baad45e3988b1082ee15647417e088392...
2,2025-09-09 22:58:59.186451,2,https://g1.globo.com/,True,707d22a531be7588fdf13cd7582eb6ebad94c3af8165a3...,3ab9e2101bbb2baad45e3988b1082ee15647417e088392...
3,2025-09-09 22:59:02.011941,3,https://g1.globo.com/,True,7a36465d537acc6c0fc9cc048fc6f2444e36361f463b3c...,707d22a531be7588fdf13cd7582eb6ebad94c3af8165a3...
4,2025-09-09 22:59:04.845003,4,https://g1.globo.com/,True,42dba36b35c70e86462e9fefd295a7b227be065430926a...,7a36465d537acc6c0fc9cc048fc6f2444e36361f463b3c...

## 3 Compare

In [9]:
print(f'Speedup: {sequential_elapsed_time / parallel_elapsed_time: 0.2f}x')

Speedup:  3.27x